*{
    margin: 0;
    padding: 0;
   
    
}
.head{
  position: relative;
  width: 100%;
  background-color: white;  
}
nav{
    display: flex;
    width: 100%;
    margin:0;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: lightblue;
    
}
.top{
    background-color: lightblue;
    font-family: 'Titillium Web', sans-serif;
 }

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
  }
nav ul li a:hover{
    color: gold;
}
a.active,a:hover{
    background-color: rgb(123, 159, 171);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-left:10px;
   
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}

@media(max-width: 952px){
    label.logo{
        border-image-width: auto;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .top{
        background-color: gray;
        
        z-index: 1;
    }
    @media(max-width:858px) {
        .checkbtn{
            display:block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: gray;
            top: 80px;
            left:-100%;
            text-align:center;
            transition: .5s;
          
        } 
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }  
        nav ul li a{
            font-size: 20px;
            background-color: grey;
        }
        a.active,a:hover{
            background: none;
            color: gold;
        }
        #check:checked~ul{
            left: 0;
        }
        
    }
}
/* head format */
.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.contact .cont{
    max-width: 800px;
    text-align: center;

}
/* heading format */
.contact .cont h3{
    font-size: 36px;
    font-weight: 500;
    color: gray;
}
.contact .cont p{
    font-weight: 500;
    
}
/* icon box */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
width: 50%;
display:flex;
flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 50%;
    font-size: 22px;
    align-items: center;

}
.container .contactinfo .box .text{
    display: flex;
    margin-left:20px ;
    font-size: 16px;
    color: rgb(236, 236, 89);
    flex-direction: column;
}
.container .contactinfo .box .text h2{
    color: gold;
    font-weight: 500;
}
/* contact box */
.contact-form{
    width: 60%;
    padding: 70px;
    background:lightslategray;
    

}
.contact-form h2{
    font-size: 30px;
    color: white;
    
    justify-content: center;
    display: flex;
    font-weight: bold;

}
.contact-form .formbox{
   position: relative;
   width: 100%; 
   margin-top: 10px;
}
/* Name */
.contact-form .formbox input,
.contact-form .formbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}
.contact-form .formbox span{
   
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}
/* Email */
.contact-form .formbox input:focus ~ span,
.contact-form .formbox input:valid ~ span,
.contact-form .formbox textarea:focus ~ span,
.contact-form .formbox textarea:valid ~ span
{
    color: yellow;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .inputbox input[type="submit"]
{
    width: 100%;
    background: lightskyblue;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* for mobile display */
@media only screen and (max-width: 991px){
  

.contact{
    padding: 50px;
}
.container{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 50px;
}
.container .contactinfo{
    margin-bottom: 40px;
}
.contact-form{
    width: 100%;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-right: 30px;
}
.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
}


