*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif 'Times New Roman', Times, serif;
}
.head{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;  
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;


}
nav ul li a:hover{
    color: gold;
}
