*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

.active{
    color: rgb(255, 140, 0);
}

.head{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;  
}
nav{
    display: flex;
    width: 100%;
    margin:0;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: lightblue;
   
    
}
 .top{
    background-color: lightblue;
    font-family: 'Titillium Web', sans-serif;
 }

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
   
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
    background-color: lightblue;
    


}
nav ul li a:hover{
    color: gold;
   
    
}
a:hover{
    background-color: rgb(123, 159, 171);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-left:10px;
   
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}
/* for mobile */
@media(max-width: 952px){
    label.logo{
        border-image-width: auto;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .top{
        background-color: gray;
    }
    nav ul li a{
        background-color: grey;
    }
    @media(max-width:858px) {
        .checkbtn{
            display:block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: gray;
            top: 80px;
            left:-100%;
            text-align:center;
            transition: .5s;
        } 
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }  
        nav ul li a{
            font-size: 20px;
        }
        a.active,a:hover{
            background: none;
            color: gold;
        }
        #check:checked~ul{
            left: 0;
        }
        
    }



}
.detel{
    margin-left: 13%;
    margin-top: 9%;
}
.detel h3{
    font-size:  100px; ;
    color: grey;
    margin-bottom: 20px;

}
span{
    color: orange;

}
.detel p{
    color: gray;
    font-size: 25px;
}
.detel a{
    background-color:lightblue;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 4s ;
   
  }
  /* change of colour in button */
  @keyframes example {
    from {background-color: lightblue;}
    to {background-color: grey;}
  }

/* image specification */
.pic{
    margin-left: 1700px;
    margin-top: 50px;
}
.pic a{
    text-decoration: none;
}

.pic-icon{
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
    animation: rotate 5s linear infinite;
}
/* spinning of icons */
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
.pic-but{
    text-decoration: none;
}

.pic-icon:hover{
    height: 65px;
}
/* mobile format display */
@media only screen and (max-width: 991px){
    .detel h3{
        font-size:  50px; ;
        color: grey;
        margin-bottom: 20px;
    
}
.detel{
    margin-left: 5%;
    margin-top: 9%;
}
.detel p{
    color: gray;
    font-size: 15px;
   box-sizing: inherit;
}
.pic{
margin-left: 300px;
}

.pic-icon{
    height:35px;
}
}