*{
    margin: 0;
  
    box-sizing: border-box;
    font-family:serif 'Times New Roman', Times, serif;
}

.head{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;  
}
nav{
    display: flex;
    width: 100%;
    margin:0;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: lightblue;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;


}
nav ul li a:hover{
    color: gold;
}
a.active,a:hover{
    background-color: rgb(123, 159, 171);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-left:10px;
   
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        border-image-width: auto;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    @media(max-width:858px) {
        .checkbtn{
            display:block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: gray;
            top: 80px;
            left:-100%;
            text-align:center;
            transition: .5s;
        } 
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }  
        nav ul li a{
            font-size: 20px;
        }
        a.active,a:hover{
            background: none;
            color: gold;
        }
        #check:checked~ul{
            left: 0;
        }
        
        
    }


}
body{
    background-color: black;
    color: white;
}
img{
    width:100%;
    
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: grey;
}
.title{
    color: orange;
    font-weight:700 ;
    font-size: 2rem;
    text-transform: uppercase;
}
.item-name{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item-subtitle{
    font-size: 1.4rem;
    color: grey;
    font-weight: 400;
}
.cert-name{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}


.container, .group-1, .group-2 {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: black;
    grid-template-columns: 1fr 1fr ;
    gap: 4rem;
}
@media only screen and( max-width:768px){
    .containera{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1 ;
    margin-bottom: 2rem;
}
.profile-container{
    display:block;
    gap: 2rem;
}
.profile-profileimg{
max-width: 250px;

}
.profile-profileimg img{
    border-radius: 50%;
}
.first-name{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.last-name{
    color: orange;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
.profile-title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.skill-list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
.edu-item{
    margin-top: 2rem;
}
.certification-item{
    margin-top: 2rem;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.exp-item{
margin-top: 2rem;
font-size: 1.6rem;
color: white;
font-weight: 500;
margin: 0.8rem 0;
}
.intrest-items{
    margin-top: 2rem;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}
.intrest-item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    gap: 0.5rem;
    color: grey;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
 
  
}

